/* .project object { */
    .project {
        width: 1280px;
        height: 720px;
        background-color: white;
    }
    
    /* .project p { */
    .staticOverlay {
        height: 721px;
        width: 1280px;
        position: absolute;
        top: -16px;
        opacity: 8%;
        pointer-events: none;
        background-image: url('https://glb-bucket-portfolio.s3.us-east-2.amazonaws.com/static.gif')
    }
    