html, body, canvas{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.start-button-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button{
  height: 75px;
  width: 200px;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 40px;
  transition:.25s;
}

.start-button:hover{
  border-color: olivedrab;
  color: olivedrab;
  cursor: pointer;
}

@font-face {
  font-family: "chawp";
  src: url("assets/chawp.ttf");
}

.contactForm {
  display: flex;
  flex-direction: column;
  /* gap: 10px */
}

.nameWrapper,
.emailWrapper,
.messageWrapper{
  display: flex;
  gap: 5px;
  width: 250px;
  /* border: 1px solid white; */
}

.name-label,
.email-label,
.message-label {
  position: relative;
  font-family: "chawp";
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 1px;
  bottom: 5px;
  align-content: flex-end;
}

.contact,
.email, 
.message{
  background: transparent;
  color: white;
  outline: none;
  /* border: 1px solid white; */
  border: none;
  width: 100%;
  height: 27px;
  font-family: "chawp";
  font-size: 12px;
  margin: 0;
  resize: none;
}